<form
	[formGroup]="fg"
	(ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">

	<div class="form-group">
		<label for="nombre">Nombre</label>
		<input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." 
		[formControl]="fg.controls['nombre']">
		<hr>

		<h6 *ngFor="let r of searchResults;">-{{r}}</h6>

		<div class="alert alert-warning" *ngIf="fg.controls['nombre'].hasError('required')">Nombre Requerido!</div>

		<div class="alert alert-danger" *ngIf="fg.controls['nombre'].hasError('invalidNombre')">Nombre Inválido!</div>

		<div class="alert alert-danger" *ngIf="fg.controls['nombre'].hasError('minLongNombre')">Nombre debe tener al menos {{minLongitud}} de largo!</div>
	</div>
	<div class="form-group">
		<label for="Imagen Url">Imagen Url</label>
		<input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." 
		[formControl]="fg.controls['url']">
	</div>
		<button type="submit" class="btn btn-primary" *ngIf="fg.valid"> Guardar! </button>
</form>